#promo{
    width:93%;
    margin:3vh auto;
    padding:1rem 1rem;
    text-align: center;
    background-image: url(./images/promo_bg.jpg);
    background-size:cover;
    font-size: 1.5rem;
    border-radius: 25px;
}
#promo h2{
    width: 70%;
    margin:auto;
}
button{
    display: block;
    font-size: 1.2rem;
    width: 80%;
    margin: 25px auto;
    height:4rem;
    background-color: rgb(216, 79, 0);
    color:white;
    font-weight: 600;
    border-radius: 10px;

}
button:active{
    background-color: white;
    color:black;
}