@media screen and (max-width: 680px) {
    #img_gallery{
        grid-template-columns: 1fr !important;
    }
    figure >img{
        height:30vh;
    }
}

#promo{
    width:93%;
    margin:3vh auto;
    padding:1rem 1rem;
    text-align: center;
    background-image: url(./images/promo_bg.jpg);
    background-size:cover;
    font-size: 1.5rem;
    border-radius: 25px;
    box-shadow: 20px 20px 60px maroon;
}
#promo h2{
    width: 70%;
    margin:auto;
}

#img_gallery figure{
    margin:0;
}

figure >img{
    width: 100%;
    height:55vh;
    border-radius: 25px;;
    box-shadow: 0 0 40px whitesmoke;
}

#img_gallery{
    display: grid;
    margin:1vh auto;
    width: 90%;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 1vw;
    row-gap: 1vh;
}
button{
    display: block;
    font-size: 1.2rem;
    width: 80%;
    margin: 25px auto;
    height:4rem;
    background-color: rgb(216, 79, 0);
    color:white;
    font-weight: 600;
    border-radius: 10px;

}
button:active{
    background-color: white;
    color:black;
}