#offers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
}

.offers_border, figure, .ticket h3{
    padding: 2vh 2vw;
    border: 0.1rem solid red;
    border-radius: 20px;
    box-shadow:10px 10px 0 red;
}
figure img{
    width:30vw;
    height:25vh;
}
